.fds-timer{margin-right:5px;}
.fds-timer .circularButtonView:hover, .fds-timer .circularButtonView.active{
    border-color: transparent;
    cursor: pointer;
    box-shadow: 0 0 0 3px #26d328;
    -moz-box-shadow: 0 0 0 3px #26d328;
    -webkit-box-shadow: 0 0 0 3px #26d328;
    background-color: #fff;
    color: #26d328;
    fill: #26d328;
}
.grid-tags-and-date .fds-timer-grid .circularButtonView.active,
.grid-tags-and-date .fds-timer-grid .circularButtonView.primary,
.grid-tags-and-date .fds-timer-grid .circularButtonView.primary:hover{

    background-repeat: no-repeat;
    background-size: cover;
    background-clip: content-box;
    width: 25px;
    height: 25px;
    border-color: transparent;
    box-shadow: 0 0 0 2px #26d328;
    -moz-box-shadow: 0 0 0 2px #26d328;
    -webkit-box-shadow: 0 0 0 2px #26d328;
    background-color: #fff;
    color: #26d328;
    fill: #26d328;
    margin: 0 5px;
    cursor: inherit;
}
.grid-tags-and-date .fds-timer-grid .circularButtonView.secondary,
.grid-tags-and-date .fds-timer-grid .circularButtonView.secondary:hover{
    background-repeat: no-repeat;
    background-size: cover;
    background-clip: content-box;
    width: 25px;
    height: 25px;
    border-color: transparent;
    box-shadow: 0 0 0 2px #f78b20;
    -moz-box-shadow: 0 0 0 2px #f78b20;
    -webkit-box-shadow: 0 0 0 2px #f78b20;
    background-color: #fff;
    color: #f78b20;
    fill: #f78b20;
    margin: 0 5px;
    cursor: inherit;
}
.time-history .total-time {
    font-size:20px;
    clear: both;
}
.taskAttachmentsView.has-attachments + #time-history .time-history{
    border: none;
    border-top: 1px solid #EFF0F1;
    margin: 0px 30px;
}
.taskAttachmentsView + #time-history .time-history{
    border: none;
    border-bottom: 1px solid #EFF0F1;
    margin: 0px 30px;
}
#time-history .time-history .taskFeedView-feed{
    margin-left:40px;
    margin-right:20px;
}
.time-history .taskFeedView-feed .small-feed-story-group .feed-story{
    margin:0;
}